<div class="container text-center">
    <div class="row">
        <div class="col-md-8 offset-2">
            <h2 class="title">Dash Boards</h2>
            <h3 class="text"><%= @user.name %></h3>
            <div class="d-grid gap-3 col-6 mx-auto">
                <%= link_to "記事一覧", articles_path, class: "btn btn-primary btn-block" %>
                <%= link_to "編集", edit_user_registration_path, class: "btn btn-primary btn-block" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-warning btn-block" %>
            </div>
        </div>
    </div>
</div>
